# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\garin\OneDrive\Desktop\Course Details\Spring 2021\IS601_WebSystems\Assignments\HowTheInternetWorks_Website02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
